@font-face {
  font-family: 'RickAndMorty';
  src: url('./font/RickAndMorty.ttf') format('truetype');
}

@font-face {
    font-family: 'RickAndMortyNormal';
    src: url('./font//RickAndMortyNormal.ttf') format('truetype');
}

.title{
    font-family: 'RickAndMorty';
    font-size: 4rem;
    color: #02B1C8;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

body {
  font-family: 'RickAndMortyNormal';
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
